/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Palatino";
  src: url("../assets/fonts/palatino/pala.ttf") format("truetype");
}

@font-face {
  font-family: "Palatino b";
  src: url("../assets/fonts/palatino/palab.ttf") format("truetype");
}

:root {
  --font-family1: "Palatino";
  --font-family2: 'Cormorant Garamond',
    serif;

  /* colors */
  --text-color1: #434343;
  --text-color2: #424242;
  --text-color3: #FDF5E9;
  --text-color4: #FFF7EC;
  --text-color5: #000000;
  --text-color6: #FEF6EA;
  --bg-text-color: #FEF6EA14;
  --gradient-color1: #A8C5D6;
  --gradient-color2: #434343;
  --gradient-color3: #ffffff;
  --circle-color1: #A8C5D6;
  --circle-color2: #A8C5D6;
}

body {
  font-family: var(--font-family1);
}

.hero-container {
  padding: 1rem;
}

.header-logo {
  text-transform: uppercase;
}