/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Palatino";
  src: url("../assets/fonts/palatino/pala.ttf") format("truetype");
  font-display: swap;
}

/* @font-face {
  font-family: "Palatino b";
  src: url("../assets/fonts/palatino/palab.ttf") format("truetype");
  font-display: swap;
} */

:root {
  --font-family1: "Palatino", serif;
  --font-family2: "Cormorant Garamond", serif;
  /* colors */
  --primary-color1: #434343;
  --primary-color2: #424242;
  --primary-color3: #fdf5e9;
  --primary-color4: #fff7ec;
  --primary-color5: #000000;
  --primary-color6: #fef6ea;
  --primary-color7: #574843;
  --bg-text-color: #fef6ea14;
  --gradient-color1: #a8c5d6;
  --gradient-color2: #434343;
  --gradient-color3: #ffffff;
  --circle-color1: #a8c5d6;
  --circle-color2: #a8c5d6;

  --max-screen-width: 1920px;
}

body {
  font-family: var(--font-family1);
  height: 300vh;
}

.container {
  overflow-x: hidden;
  max-width: var(--max-screen-width);
}

.container-content {
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

.hero-container {
  padding: 1rem;
  position: relative;
  background-color: var(--primary-color3);
}

.hero-container::before {
  content: "";
  background: url(../assets/images/bg-image.avif),
    url("../assets/images/bg-image.png");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: opacity(8%);
}

@media (min-width: 40em) {
  .hero-container {
    padding: 2.5rem 2rem 0 2rem;
    height: 100vh;
  }
}

.header-logo {
  text-transform: uppercase;
  color: var(--primary-color1);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 40em) {
  .header-logo {
    display: none;
  }

  .navigation-button {
    display: none;
  }
}

.navigation {
  position: absolute;
  top: 0.9rem;
  right: 0.7rem;
  z-index: 5;
  display: none;
}

.navigation-links {
  display: none;
}

@media (min-width: 40em) {
  .navigation {
    width: 100%;
    top: 4rem;
    right: 0;
    display: block;
  }

  .navigation-links {
    display: block;
    font-family: var(--font-family2);
    text-transform: uppercase;
  }

  .navigation-links ul {
    display: flex;
    justify-content: space-between;
  }

  .navigation ul li a {
    text-decoration: none;
    color: var(--primary-color1);
    /* transition: border 500ms; */
  }

  .navigation ul li a:hover {
    color: var(--primary-color7);
    border-bottom: 1px solid var(--primary-color3);
  }

  .navigation ul li a:focus {
    color: var(--primary-color5);
  }

  .link-others {
    padding-right: 2rem;
    text-align: right;
  }
}

.navigation-button {
  border: none;
  background: none;
}

.header-main {
  margin-top: 2rem;
  font-family: var(--font-family2);
  position: relative;
}

@media (min-width: 40em) {
  .header-main {
    margin-top: 9rem;
  }
}

.header-main-title {
  text-transform: uppercase;
  line-height: 0.8;
  color: var(--primary-color2);
  padding-right: calc(100% - 21rem);
  letter-spacing: 2px;
  position: relative;
  font-style: bold;
  width: fit-content;
}

.title-extra,
.title-extra1 {
  font-size: 26vw;
}

@media (min-width: 40em) {
  .header-main-title {
    max-width: 100%;
    padding: 0 3rem;
    padding-left: 8%;
  }

  .header-main-title p {
    display: inline;
  }
}

.header-main-title > * {
  font-weight: 100;
  z-index: 2;
}

.ellipse-gradient {
  position: absolute;
  top: 3rem;
  left: -2rem;
  filter: opacity(70%);
  z-index: 1;
}

@media (min-width: 40em) {
  .ellipse-gradient {
    left: 1rem;
    width: 19rem;
    top: -4rem;
    filter: opacity(100%);
  }
}

.title-extra1 {
  text-align: right;
}

.title-extra2 {
  font-family: var(--font-family1);
  font-size: 1.7rem;
  text-align: right;
  margin-top: 1.2rem;
}

@media (min-width: 40em) {
  .title-extra {
    position: relative;
  }

  .title-extra::after {
    content: "\00AF";
    position: absolute;
    right: -5%;
    top: 33%;
    transform: rotate(-14deg);
  }

  .title-extra,
  .title-extra1 {
    font-size: 12vw;
  }

  p.title-extra2 {
    font-size: 12vw;
    font-family: var(--font-family2);
    position: relative;
    left: 12rem;
  }
}

.header-main-title-2 {
  color: var(--primary-color2);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: 2.8rem;
  position: relative;
}

@media (min-width: 40em) {
  .header-main-title-2 {
    text-align: right;
    writing-mode: revert;
    transform: rotate(0deg);
    position: relative;
    right: 7.5vw;
  }

  .header-main-title-2 > p {
    font-size: 3vw;
    letter-spacing: 8px;
  }

  .header-main-title-2 span {
    font-size: 2em;
    letter-spacing: 6px;
  }
}

.header-main-title-2 > * {
  font-size: 5rem;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-main-title-3 {
  display: none;
}

@media (min-width: 40em) {
  .header-main-title-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* utility classes */
/* font-size: small */
.fs-sm {
  font-size: 3rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-subtitle {
  text-align: right;
  position: relative;
  bottom: 6vw;
  font-family: var(--font-family1);
  font-size: 0.8rem;
}

@media (min-width: 40em) {
  .header-subtitle {
    text-align: left;
    padding-left: 9vw;
    font-family: var(--font-family2);
    width: 20rem;
    font-size: 1.3rem;
    line-height: 1.2;
    padding-top: 1rem;
  }
}

.ellipse {
  position: absolute;
  bottom: 16%;
  left: 52%;
}

.ellipse-desktop {
  display: none;
}

.more {
  display: none;
}

@media (min-width: 40em) {
  .more {
    display: flex;
    justify-content: flex-end;
  }

  .more-title {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    flex-direction: row-reverse;
  }

  .more-title-text {
    display: block;
    text-decoration: none;
    color: var(--primary-color1);
    font-size: 0.9rem;
  }

  .more-title-arrow {
    transform: rotate(30deg);
    margin-right: 0.2rem;
  }

  .more-gradient {
    position: relative;
    z-index: 1;
    left: -2.5em;
  }
}

@media (min-width: 40em) {
  .ellipse {
    display: none;
  }

  .ellipse-desktop {
    display: block;
    position: absolute;
    bottom: 10vw;
    left: 4vw;
    z-index: 1;
  }
}

.socials-header {
  display: none;
}

@media (min-width: 40em) {
  .socials {
    display: flex;
    justify-content: space-between;
    width: 15vw;
    z-index: 2;
  }

  .social-link {
    text-decoration: none;
    font-family: var(--font-family2);
    text-transform: uppercase;
    color: var(--primary-color1);
    font-size: 0.9rem;
  }

  .social-link:focus {
    color: var(--primary-color5);
  }
}

.about-me {
  height: 100vh;
  position: relative;
  padding-top: 3rem;
  background-image: url(../assets/images/bg-image.avif),
    url(../assets/images/bg-image.png);
}

@media (min-width: 40em) {
  .about-me {
    padding-left: 10rem;
    height: 100vh;
  }
}

.about-me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color1);
  filter: opacity(95%);
}

.about-me-subtitle {
  font-family: var(--font-family2);
  text-transform: uppercase;
  font-size: 13vh;
  font-weight: 100;
  color: var(--primary-color6);
  filter: opacity(10%);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  top: 13rem;
  left: -2.8rem;
  letter-spacing: 2px;
}

@media (min-width: 40em) {
  .about-me-subtitle {
    position: static;
    transform: rotate(0deg);
    writing-mode: revert;
    text-align: left;
    display: block;
    font-size: 10vw;
    color: var(--primary-color4);
    filter: opacity(100%);
  }
}

.about-me-texts {
  display: flex;
  flex-direction: column;
  width: min(72%, 20rem);
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 40em) {
  .about-me-texts {
    align-items: flex-start;
    margin: revert;
  }
}

.about-me-texts > * {
  color: var(--primary-color3);
  position: relative;
}

.about-me-title {
  text-align: left;
  padding-top: 2rem;
  text-transform: uppercase;
  color: var(--primary-color3);
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 1.1;
  font-weight: 100;
  position: relative;
  margin-bottom: 5rem;
}

@media (min-width: 40em) {
  .about-me-title {
    padding-top: 0;
    font-size: 2vw;
    letter-spacing: 6px;
    filter: opacity(90%);
    color: var(--primary-color3);
  }

  .fs-md {
    font-size: 2.4vw;
  }
}

.gradient-circle {
  position: absolute;
  z-index: 1;
  left: 6rem;
}

@media (min-width: 40em) {
  .gradient-circle {
    position: absolute;
    left: 70vw;
    width: auto;
    bottom: 0;
  }
}

.about-me-blue-circle {
  position: relative;
  left: 7rem;
  width: 100%;
  height: 100%;
}

@media (min-width: 40em) {
  .about-me-blue-circle {
    position: relative;
    top: 8rem;
    left: -2rem;
    width: 20em;
  }
}

.about-me-blue-gradient {
  position: relative;
  bottom: 10rem;
  left: 5rem;
  width: 100%;
  height: 100%;
}

@media (min-width: 40em) {
  .about-me-blue-gradient {
    position: relative;
    bottom: 15rem;
    left: -6rem;
    width: 90rem;
  }
}

.my-interests {
  padding-left: 1.3rem;
}

@media (min-width: 40em) {
  .my-interests {
    padding-left: revert;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.my-interest {
  margin-bottom: 2rem;
}

@media (min-width: 40em) {
  .my-interest {
    font-size: 1.3rem;
    width: 50ch;
    font-weight: 100;
    font-family: var(--font-family2);
  }
}

.aria-link {
  color: var(--primary-color5);
}

.skills {
  background: var(--primary-color3);
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: var(--font-family2);
  padding-bottom: 3rem;
  position: relative;
}

.skills > * {
  position: relative;
  z-index: 2;
}

.skills::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../assets/images/bg-image.avif),
    url(../assets/images/bg-image.png);
  filter: opacity(8%);
  z-index: 1;
}

@media (min-width: 40em) {
  .skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    position: relative;
    height: 100vh;
  }
}

.skills-type {
  margin-bottom: 2rem;
}

.skill {
  cursor: pointer;
}

@media (min-width: 40em) {
  .skill {
    width: 44vw;
  }
}

.skills-type-text {
  font-family: var(--font-family2);
  text-transform: uppercase;
  font-size: 4rem;
  align-self: flex-start;
}

.arrow-up {
  width: 41px;
  height: 42px;
}

@media (min-width: 40em) {
  .skills-type-text {
    font-size: 10vw;
    color: var(--primary-color1);
  }
}

.skills-expanded {
  text-align: right;
}

@media (min-width: 40em) {
  .skills-expanded {
    text-align: left;
  }

  .skills-expanded ul {
    padding-left: 0;
  }
}

.skills-heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  color: var(--primary-color1);
}

ul {
  list-style: none;
}

ul > li {
  margin-bottom: 1.1rem;
}

.to-projects {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media (min-width: 40em) {
  .to-projects {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    top: 80%;
  }
}

.to-projects-title {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color7);
  font-size: 1rem;
  z-index: 2;
}

.arrow-down {
  width: 0.9rem;
  height: 18px;
}

.skills-blue-gradient {
  width: 3rem;
  position: absolute;
  left: 7.2em;
  bottom: 0.3em;
  z-index: 1;
}

@media (min-width: 40em) {
  .skills-blue-gradient {
    left: 0;
  }
}

.projects {
  background-color: var(--primary-color3);
}

.projects-heading {
  text-transform: uppercase;
  font-size: 7vw;
  font-family: var(--font-family2);
  padding: 2em 0 0;
  color: var(--primary-color2);
}

.projects-details {
  font-size: 1.5rem;
  padding: 0 2em;
  margin-bottom: 2em;
}

.projects-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
  text-align: center;
  font-family: var(--font-family2);
  position: relative;
}

.projects-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../assets/images/bg-image.avif),
    url(../assets/images/bg-image.png);
  filter: opacity(8%);
  z-index: 1;
}

.projects-container > * {
  z-index: 2;
  position: relative;
}

.project {
  background: var(--primary-color3);
  padding: 4rem 3rem;
  text-decoration: none;
  color: var(--primary-color5);
  font-size: min(4vw, 3rem);
  color: var(--primary-color1);
}

.project > span {
  display: block;
  font-size: min(1rem, 2rem);
  font-weight: bold;
}

.contact-container {
  padding: 4rem 3rem 0 3rem;
  background: var(--primary-color1);
  height: 100vh;
  position: relative;
}

.contact-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../assets/images/bg-image.avif),
    url(../assets/images/bg-image.png);
  filter: opacity(8%);
  z-index: 1;
}

.contact-container > * {
  position: relative;
  z-index: 2;
}

@media (min-width: 40em) {
  .contact-container {
    padding-left: 10rem;
    padding-right: 10rem;
    height: 100%;
  }
}

.contact-title {
  color: var(--primary-color4);
  font-family: var(--font-family2);
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  font-size: min(5.5vw, 6vw);
}

@media (min-width: 40em) {
  .contact-title {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 100;
    position: relative;
    top: 1.1em;
  }

  .contact-container-others {
    display: flex;
    gap: 13em;
    padding-bottom: 10rem;
  }
}

.contact-subtitle {
  position: absolute;
  font-family: var(--font-family2);
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
  color: var(--primary-color6);
  filter: opacity(10%);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  top: 8rem;
  left: -3.2rem;
  letter-spacing: 2px;
}

@media (min-width: 40em) {
  .contact-subtitle {
    position: static;
    writing-mode: revert;
    font-size: 10vw;
    color: var(--primary-color3);
    filter: opacity(100%);
  }
}

form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  form {
    width: 77%;
  }
}

.label-names {
  width: 0;
  height: 0;
  font-size: 0.01em;
  display: none;
}

input {
  background: none;
  border: none;
  width: 17rem;
  color: var(--primary-color4);
  border-bottom: 1px solid var(--primary-color4);
  height: 3em;
  margin-bottom: 2rem;
}

::placeholder {
  color: var(--primary-color4);
  font-family: var(--font-family2);
  font-size: 6vw;
  opacity: 1 !important;
}

@media (min-width: 40em) {
  input {
    width: -moz-available;
  }

  ::placeholder {
    font-size: 1.6rem;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: var(--primary-color4);
  opacity: 1 !important;
}

.submit {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--primary-color4);
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  width: 18rem;
}

.send-arrow {
  filter: brightness(0) saturate(100) invert(81%) sepia(2%) saturate(2471%)
    hue-rotate(329deg) brightness(121%) contrast(101%);
  transform: rotate(230deg);
  margin-right: 0.4em;
  width: 0.9rem;
  height: 100%;
}

.socials-footer {
  position: absolute;
  bottom: 0;
  top: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 77%;
}

@media (min-width: 40em) {
  .socials-footer {
    position: relative;
    display: block;
    width: auto;
    bottom: 15em;
  }
}

a.social {
  text-decoration: none;
  font-family: var(--font-family2);
  text-transform: uppercase;
  color: var(--primary-color4);
  font-size: 0.9rem;
  cursor: pointer;
}

@media (min-width: 40em) {
  a.social {
    margin-right: 2em;
    cursor: pointer;
  }
}

form {
  position: relative;
  z-index: 2;
}

/* transition styles */

ul.transition {
  display: flex;
  position: absolute;
  z-index: 4;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  padding-left: 0;
}

ul.transition li {
  transform: scaleY(0);
  background: red;
  width: 20%;
}

/* overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: var(--primary-color2);
}

.second {
  background: var(--primary-color2);
  left: 33.3%;
}

.third {
  background: var(--primary-color2);
  left: 66.6%;
}
