/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Palatino";
  src: url("../assets/fonts/palatino/pala.ttf") format("truetype");
}

@font-face {
  font-family: "Palatino b";
  src: url("../assets/fonts/palatino/palab.ttf") format("truetype");
}

:root {
  --font-family1: "Palatino";
  --font-family2: 'Cormorant Garamond',
    serif;

  /* colors */
  --primary-color1: #434343;
  --primary-color2: #424242;
  --primary-color3: #FDF5E9;
  --primary-color4: #FFF7EC;
  --primary-color5: #000000;
  --primary-color6: #FEF6EA;
  --primary-color7: #574843;
  --bg-text-color: #FEF6EA14;
  --gradient-color1: #A8C5D6;
  --gradient-color2: #434343;
  --gradient-color3: #ffffff;
  --circle-color1: #A8C5D6;
  --circle-color2: #A8C5D6;

  --max-screen-width: 1920px;
}

body {
  font-family: var(--font-family1);
  height: 300vh;
}

.container {
  overflow-x: hidden;
  max-width: var(--max-screen-width);
}

.hero-container {
  padding: 1rem;
  /* background: url("../assets/images/bg-image-header.png") center center; */
  background-color: var(--primary-color3);
}

@media(min-width: 40em) {
  .hero-container {
    padding: 2.5rem 2rem 0 2rem;
    height: 100vh;
  }
}

.header-logo {
  text-transform: uppercase;
  color: var(--primary-color1);
  font-size: .8rem;
  margin-bottom: .5rem;
}

@media(min-width: 40em) {
  .header-logo {
    display: none;
  }

  .navigation-button {
    display: none;
  }
}

.navigation {
  position: fixed;
  top: 0.9rem;
  right: .7rem;
  z-index: 5;
}

.navigation-links {
  display: none;
}

@media(min-width: 40em) {
  .navigation {
    width: 100%;
    top: 4rem;
    right: 0;
  }

  .navigation-links {
    display: block;
    font-family: var(--font-family2);
    text-transform: uppercase;
  }

  .navigation-links ul {
    display: flex;
    justify-content: space-between;
  }

  .link-others {
    padding-right: 2rem;
    text-align: right;
  }
}

.navigation-button {
  border: none;
  background: none;
}

.header-main {
  margin-top: 2rem;
  font-family: var(--font-family2);
  position: relative;
}

@media(min-width: 40em) {
  .header-main {
    margin-top: 9rem;
  }
}

.header-main-title {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: .8;
  color: var(--primary-color2);
  padding-right: calc(100% - 21rem);
  letter-spacing: 2px;
  position: relative;
  font-style: bold;
  width: fit-content;
}

@media(min-width: 40em) {
  .header-main-title {
    max-width: 100%;
    padding: 0 3rem;
    padding-left: 8%;
  }

  .header-main-title p {
    display: inline;
  }
}

.header-main-title>* {
  font-weight: 100;
  z-index: 2;
}

.ellipse-gradient {
  position: absolute;
  top: 3rem;
  left: -2rem;
  filter: opacity(70%);
  z-index: 1;
}

@media(min-width: 40em) {
  .ellipse-gradient {
    left: 1rem;
    width: 19rem;
    top: -4rem;
    filter: opacity(100%);
  }

}

.title-extra1 {
  text-align: right;
}

.title-extra2 {
  font-family: var(--font-family1);
  font-size: 1.7rem;
  text-align: right;
  margin-top: 1.2rem
}

@media (min-width: 40em) {

  .title-extra {
    position: relative;
  }

  .title-extra::after {
    content: "\00AF";
    position: absolute;
    right: -47px;
    top: 74px;
    transform: rotate(-14deg);
  }

  .title-extra,
  .title-extra1 {
    font-size: 12vw;
  }

  p.title-extra2 {
    font-size: 12vw;
    font-family: var(--font-family2);
    position: relative;
    left: 12rem;
  }
}

.header-main-title-2 {
  color: var(--primary-color2);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: 2.8rem;
  position: relative;
}

@media(min-width: 40em) {
  .header-main-title-2 {
    text-align: right;
    writing-mode: revert;
    transform: rotate(0deg);
    position: relative;
    right: 7.5vw;
  }

  .header-main-title-2>p {
    font-size: 3vw;
    letter-spacing: 8px;
  }

  .header-main-title-2 span {
    font-size: 2em;
    letter-spacing: 6px;
  }
}

.header-main-title-2>* {
  font-size: 5rem;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* utility classes */
/* font-size: small */
.fs-sm {
  font-size: 3rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-subtitle {
  text-align: right;
  position: relative;
  bottom: 6vw;
  font-family: var(--font-family1);
  font-size: .8rem;
}

@media(min-width: 40em) {
  .header-subtitle {
    text-align: left;
    padding-left: 9vw;
    font-family: var(--font-family2);
    width: 20%;
    font-size: 1.3rem;
    line-height: 1.2;
    padding-top: 1rem;
  }
}

.ellipse {
  position: absolute;
  bottom: 6rem;
  left: 10rem
}

.ellipse-desktop {
  display: none;
}

.more {
  display: none;
}

@media(min-width: 40em) {
  .more {
    display: flex;
    justify-content: flex-end;
  }

  .more-title {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
  }

  .more-title-arrow {
    transform: rotate(30deg);
    margin-right: .2rem
  }

  .more-gradient {
    position: relative;
    z-index: 1;
    left: -2.5em;
  }
}

@media(min-width: 40em) {
  .ellipse {
    display: none;
  }

  .ellipse-desktop {
    display: block;
    position: absolute;
    bottom: 10vw;
    left: 4vw;
    z-index: 1;
  }
}

.about-me {
  height: 100vh;
  position: relative;
  padding-top: 3rem;
}

.about-me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color1);
  filter: opacity(95%);
}

.about-me-subtitle {
  font-family: var(--font-family2);
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
  color: var(--primary-color6);
  filter: opacity(10%);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  top: 13rem;
  left: -3.8rem;
  letter-spacing: 2px;
}

.about-me-texts {
  display: flex;
  flex-direction: column;
  width: min(72%, 20rem);
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.about-me-texts>* {
  color: var(--primary-color3);
  position: relative;
}


.about-me-title {
  text-align: left;
  padding-top: 2rem;
  text-transform: uppercase;
  color: var(--primary-color3);
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 1.1;
  font-weight: 100;
  position: relative;
  margin-bottom: 5rem;
}

.gradient-circle {
  position: absolute;
  z-index: 1;
  left: 6rem;
}

.about-me-blue-circle {
  position: relative;
  left: 7rem;
}

.about-me-blue-gradient {
  position: relative;
  bottom: 10rem;
  left: 5rem;
}

.my-interests {
  padding-left: 1.3rem;
}

.my-interest {
  margin-bottom: 2rem;
}

.aria-link {
  color: var(--primary-color5);
}

.skills {
  background: var(--primary-color3);
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: var(--font-family2);
  padding-bottom: 3rem;
}

.skills-type {
  margin-bottom: 2rem;
}

.skills-type-text {
  font-family: var(--font-family2);
  text-transform: uppercase;
  font-size: 4rem;
  align-self: flex-start;
}

.skills-expanded {
  text-align: right;
}

.skills-heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: .4rem;
}

ul {
  list-style: none;
}

ul>li {
  margin-bottom: 1.1rem;
}

.to-projects {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.to-projects-title {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color7);
  font-size: 1rem;
  z-index: 2;
}

.arrow-down {
  width: .9rem;
}

.skills-blue-gradient {
  width: 3rem;
  position: absolute;
  left: 7.2em;
  bottom: .3em;
  z-index: 1;
}