/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Palatino";
  src: url("../assets/fonts/palatino/pala.ttf") format("truetype");
}

@font-face {
  font-family: "Palatino b";
  src: url("../assets/fonts/palatino/palab.ttf") format("truetype");
}

:root {
  --font-family1: "Palatino";
  --font-family2: 'Cormorant Garamond',
    serif;

  /* colors */
  --primary-color1: #434343;
  --primary-color2: #424242;
  --primary-color3: #FDF5E9;
  --primary-color4: #FFF7EC;
  --primary-color5: #000000;
  --primary-color6: #FEF6EA;
  --bg-text-color: #FEF6EA14;
  --gradient-color1: #A8C5D6;
  --gradient-color2: #434343;
  --gradient-color3: #ffffff;
  --circle-color1: #A8C5D6;
  --circle-color2: #A8C5D6;
}

body {
  font-family: var(--font-family1);
  height: 300vh;
}

.hero-container {
  padding: 1rem;
  /* background: url("../assets/images/bg-image-header.png") center center; */
  background-color: var(--primary-color3);
  height: 100vh;
}

.header-logo {
  text-transform: uppercase;
  color: var(--primary-color1);
  font-size: .8rem;
  margin-bottom: .5rem;
}

.navigation {
  position: fixed;
  top: 0.9rem;
  right: .7rem;
  z-index: 5;
}

.navigation-button {
  border: none;
  background: none;
}

.header-main {
  margin-top: 2rem;
  font-family: var(--font-family2);
  position: relative;
}

.header-main-title {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: .8;
  color: var(--primary-color2);
  padding-right: 0.7rem;
  letter-spacing: 2px;
  position: relative;
  font-style: bold;
}

.header-main-title>* {
  font-weight: 100;
  z-index: 2;
}

.ellipse-gradient {
  position: absolute;
  top: 3rem;
  left: -2rem;
  filter: opacity(70%);
  z-index: 1;

}

.title-extra1 {
  text-align: right;
}

.title-extra2 {
  font-family: var(--font-family1);
  font-size: 1.7rem;
  text-align: right;
  margin-top: 1.2rem
}

.header-main-title-2 {
  color: var(--primary-color2);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: 2.8rem;
  position: relative;
}

.header-main-title-2>* {
  font-size: 5rem;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/* font-size: small */
.fs-sm {
  font-size: 3rem;
}

.header-subtitle {
  text-align: right;
  position: relative;
  bottom: 6vw;
  font-family: var(--font-family1);
  font-size: .8rem;
}

.ellipse {
  position: absolute;
  bottom: 6rem;
  left: 10rem
}

.about-me {
  height: 100vh;
  position: relative;
  padding-top: 3rem;
}

.about-me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color1);
  filter: opacity(95%);
}

.about-me-subtitle {
  font-family: var(--font-family2);
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
  color: var(--primary-color6);
  filter: opacity(10%);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  top: 13rem;
  left: -3.8rem;
  letter-spacing: 2px;
}

.about-me-texts {
  display: flex;
  flex-direction: column;
  width: 72%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.about-me-texts>* {
  color: var(--primary-color3);
  position: relative;
}


.about-me-title {
  text-align: left;
  padding-top: 2rem;
  text-transform: uppercase;
  color: var(--primary-color3);
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 1.1;
  font-weight: 100;
  position: relative;
  margin-bottom: 5rem;
}

.gradient-circle {
  position: absolute;
  z-index: 1;
  left: 6rem;

}

.about-me-blue-circle {
  position: relative;
  left: 8rem;
  top: 1rem;
}

.about-me-blue-gradient {
  position: relative;
  bottom: 8rem;
  left: 5rem;
}

.my-interests {
  padding-left: 1.3rem;
}

.my-interest {
  margin-bottom: 2rem;
}

.aria-link {
  color: var(--primary-color5);
}